<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
    <link rel="stylesheet" href="input.css">
    <link rel="stylesheet" href="/css/component-page.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/utilities.css">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/Icons/icon(1).png">
</head>
<body>
    <header class="header">
        <a class="brandname-link" href="/index.html">
            <span class="brandname">
                <img class="brandname-logo" src="/images/Icons/icon(3).png" alt="">
                <span class="brandname-title">Rapid UI</span>
            </span>
        </a>
    </header>
    <nav class="site-nav">
        <div class="nav-main-heading nav-getstarted">
            <a href="/getting started.html">Getting Started</a>
        </div>

        <div class="nav-main-heading">Components</div>
        <ul class="nav-comp-section">
            <li class="component-links">
                <a href="/Components/Alert/alert.html">Alert</a>
            </li>
            <li class="component-links">
                <a href="/Components/Avatar/avatar.html">Avatar</a>
            </li>
            <li class="component-links">
                <a href="/Components/Badge/badge.html">Badge</a>
            </li>
            <li class="component-links">
                <a href="/Components/Buttons/buttons.html">Button</a>
            </li>
            <li class="component-links">
                <a href="/Components/Card/card.html">Card</a>
            </li>
            <li class="component-links">
                <a href="/Components/Image/image.html">Image</a>
            </li>
            <li class="component-links">
                <a class="component-active" href="/Components/Input/input.html">Input</a>
            </li>
            <li class="component-links">
                <a href="/Components/List/list.html">List</a>
            </li>
            <li class="component-links">
                <a href="/Components/Modal/modal.html">Modal</a>
            </li>
            <li class="component-links">
                <a href="/Components/Navigation/navigation.html">Navigation</a>
            </li>
        </ul>
    </nav>
    <main class="comp-disp">
        <h1 class="comp-disp-header">Input</h1>
        <input type="text" class="input-basic my-1" placeholder="Search">
        <br>
        <input type="email" class="input-basic my-1" placeholder="Email">
        <br>
        <input type="password" class="input-basic my-1" placeholder="Password">
        <br>
        <iframe
            src="https://carbon.now.sh/embed?bg=rgba%28249%2C250%2C251%2C1%29&t=seti&wt=none&l=htmlmixed&ds=false&dsyoff=20px&dsblur=68px&wc=true&wa=true&pv=56px&ph=56px&ln=false&fl=1&fm=Hack&fs=14px&lh=133%25&si=false&es=2x&wm=false&code=%253Cinput%2520type%253D%2522text%2522%2520class%253D%2522input-basic%2522%2520placeholder%253D%2522Search%2522%253E%250A%253Cinput%2520type%253D%2522email%2522%2520class%253D%2522input-basic%2522%2520placeholder%253D%2522Email%2522%253E%250A%253Cinput%2520type%253D%2522password%2522%2520class%253D%2522input-basic%2522%2520placeholder%253D%2522Password%2522%253E"
            style="width: 720px; height: 240px; border:0; transform: scale(1); overflow:hidden;"
            sandbox="allow-scripts allow-same-origin">
        </iframe>
    </main>
</body>
</html>